

<h1 style= "text-align:center;">Testimonies</h1>


<table align = "center">

  <% @testimonies.each do |testimony| %>
  <div class="testimonyblock">
	  <tr>
      <td style= "font-size:120%;text-align:center;"><%= testimony.text %></td>
	  </tr>
	   <tr>
	       <td style = "text-align:center;"><%=testimony.name %></td>
	   </tr>
	  <tr>
	   <td style = "text-align:center;"><%=testimony.rating %></td>   
	  </tr>
	  <% if logged_in? %>
	    <% if current_user.identity == "manager" %>
	  		<td style = "text-align:right;"><%= link_to 'Edit', edit_testimony_path(testimony) %></td>
	  		<td style = "text-align:right;"><%= link_to 'Delete', testimony_path(testimony),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
       <% end %>
	  <%end %>
   
  <% end %>
  </div>
</table>

</div>
<p style="text-align:right;">
	<%= link_to 'New Testimony', new_testimony_path %>
</p>