<body style = "background-color:#808080;">
<h1>New Testimony</h1>
<%= form_for :testimonies, url: testimonies_path do |f| %>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, size: "40x10"%>
  </p>
  
   <p>
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </p>
  
  <p>
    <%= f.label :rating %><br>
    <%= f.text_field :rating%>
  </p>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= render 'form' %>
<%= link_to 'Back', testimonies_path %>