<!doctype html>
<html lang="en">
<head>
   <%= render 'shared/accordion_function' %>
</head>

<body>
<%@increment=0%>
<h1>Customer FaQ</h1>

<div id="main_accordion">
  <%@faqmainlist.each do |mains|%>
  <%@increment+=1%>
    <h3><%=mains.FaqMainName%></h3>
      <div>
        <div id="sub_accordion<%=@increment%>">
            <%@faqsublist.where(:FaqMainLstId => mains.id).each do |subs|%>
              <h4><%=subs.SubFaqQuestion%></h4>
                <div><p><%=subs.SubFaqAnswer%></p></div>
            <%end%>
        </div>
      </div>
  <%end%>
</div>

 
 
</body>
</html>