<h1>Customer Faq</h1>
<%= link_to "Customer Faq   ",   customerfaq_path %><%= link_to "   Manager Faq",   fa_q_sub_lists_path %>
<%@faqmainlist.each do |mains|%>
     <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#maincollapse<%=mains.id%>">
          <%=mains.FaqMainName%></a>
        </h4>
      </div>
      <div id="maincollapse<%=mains.id%>" class="panel-collapse collapse in">
        <div class="panel-body">
          <%@faqsublist.where(:FaqMainLstId => mains.id).each do |subs|%>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h5 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#subcollapse<%=subs.id%>">
                        <%= subs.SubFaqQuestion%></a>
                    </h5>
                  </div>
                  <div id="subcollapse<%=subs.id%>" class="panel-collapse collapse in">
                      <p><%= subs.SubFaqAnswer%></p>
                  </div>
                </div>
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>





