<!doctype html>
<html lang="en">

  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
</head>

<body>
  <header>
    <h1>Faq Management</h1>
    <%= link_to "Customer Faq   ",   customerfaq_path %><%= link_to "   Manager Faq",   managerfaq_path %>
  </header>
  <div class="managerfaq_container">
      <section class="faq_section">
        <textarea class="faq_textarea" ></textarea>
      </section>
      <!----Navigation Bar---------------------------------->
      <nav class="faq_nav">
          <%@faqmainlist.each do |mains|%>
             <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#maincollapse<%=mains.id%>">
                  <%=mains.FaqMainName%></a>
                </h4>
              </div>
              <div id="maincollapse<%=mains.id%>" class="panel-collapse collapse in">
                <div class="panel-body">
                  <%@faqsublist.where(:FaqMainLstId => mains.id).each do |subs|%>
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a  data-toggle="collapse" data-parent="#accordion" href="#subcollapse<%=subs.id%>">
                                <%= subs.SubFaqQuestion%></a>
                            </h5>
                          </div>
                        </div>
                      </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
     </nav>
  <!----Data---------------------------------->
   </div>
   
    
</body>
 
</html>

