<h1>Manager Login</h1>
  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email%>
        <%= @user.identity%>
      </h1>
    </section>
    <aside class="col-md-4">
    <section>
      <%= link_to "Manage Faq",   fa_q_sub_lists_path %>
      <%= link_to "Manage Quote",  controller: 'pickups' %>
      <%= link_to "Register New Employee", signup_path %>
    </section>
  </aside>
</div>