<p id="notice"><%= notice %></p>

<p>
  <strong>Package type:</strong>
  <%= @quote.package_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @quote.quantity %>
</p>

<p>
  <strong>Length:</strong>
  <%= @quote.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @quote.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @quote.height %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @quote.measurement %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @quote.weight %>
</p>

<p>
  <strong>Wcategory:</strong>
  <%= @quote.wcategory %>
</p>

<%= link_to 'Home', root_path %>
