<h1>FaQ Edit</h1>
<%= form_for(@sublist) do |f| %>
  <%= render 'shared/faq_error_messages' %>
      
       
        <%= f.label :FaqMainLstId,'Faq Main Category'%>
        <%= f.select :FaqMainLstId, [['General', 1],['Personnel',2],['Business',3]], class: 'form-control'%>
      <br>
        <%= f.label :SubFaqQuestion%>
        <%= f.text_field:SubFaqQuestion,class: 'form-control'%>
      
        <%= f.label :SubFaqAnswer%>
        <%= f.text_area:SubFaqAnswer,class: 'form-control'%>
      <br><br>
        <%= f.submit "Confirm new FaQ",class: "btn btn-primary"%>
<%end%>

<%= render 'form' %>
<%= link_to 'Back', fa_q_sub_lists_path %>