<!doctype html>
<html>
<head>
   <%= render 'shared/accordion_function' %>
  <!--<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
   -->
</head>

<body>
  <header>
    <h1>Faq Management</h1>
  </header>
  <div class="managerfaq_container">
      <section class="faq_section">
        <label>Question Title:</label><br>
        <p><%=@sublist.SubFaqQuestion %><p><br>
        <label>Question Answer:</label><br>
        <textarea disabled class="faq_textarea"><%=@sublist.SubFaqAnswer%></textarea>
        
        <%= link_to "Edit", edit_fa_q_sub_list_path(@sublist)%>
        <%= button_to 'Delete', fa_q_sub_list_path(@sublist),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
       
      </section>
      <!----Navigation Bar---------------------------------->
     <nav class="faq_nav">
     <%=render 'shared/manager_accordion'%>
     </nav>
  <!----Data---------------------------------->
   </div>
   
    
</body>
 
</html>

