<!doctype html>
<html>

  <!--<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
   -->
</head>

<body>
  <header>
    <h1>Faq Management</h1>
  </header>
  <div class="managerfaq_container">
      <section class="faq_section">
        <label>Question Title:</label><br>
        <p><%=@sublist.SubFaqQuestion %><p><br>
        <label>Question Answer:</label><br>
        <textarea disabled class="faq_textarea"><%=@sublist.SubFaqAnswer%></textarea>
        
        <%= link_to "Edit", edit_fa_q_sub_list_path(@sublist)%>
        <%= button_to 'Delete', fa_q_sub_list_path(@sublist),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
       
      </section>
      <!----Navigation Bar---------------------------------->
      <nav class="faq_nav">
          <button><%=link_to'new',new_fa_q_sub_list_path, class:"btn  btn-primary btn-faqadd",style:"color:white"%></button>
          <%@faqmainlists.each do |mains|%>
             <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#maincollapse<%=mains.id%>">
                  <%=mains.FaqMainName%></a>
                </h4>
              </div>
              <div id="maincollapse<%=mains.id%>" class="panel-collapse collapse in">
                <div class="panel-body">
                  <%@faqsublists.where(:FaqMainLstId => mains.id).each do |subs|%>
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a  data-toggle="collapse" data-parent="#accordion" href="#subcollapse<%=subs.id%>">
                                <%= link_to subs.SubFaqQuestion, subs%></a>
                            </h5>
                          </div>
                        </div>
                      </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
     </nav>
  <!----Data---------------------------------->
   </div>
   
    
</body>
 
</html>

